<% content_for :title, "Editing room" %>

<%= turbo_frame_tag dom_id(@room) do %>
  <h1>Editing room</h1>
  <%= render "form", room: @room %>
<% end %>

<br>

<div>
  <%= link_to "Show this room", @room %> |
  <%= link_to "Back to rooms", rooms_path %>
</div>
